body {
}
header {
}
nav {
	background-color:#000000;
	color: #00ADEE;
	font-family: Montserrat;
	font-size: 12pt;
	font-weight: bold;
	height: 40px;
	text-transform: uppercase;
	width: 1024px;
}
li {
	display: inline-block;
    padding: 10px 10px 0px 10px;
}
.main {
	width: 960px;
	padding: 10px;
}
#top-stories-container {
	float: left;
}
.top-stories {
	font-family: RobotoCondensed-Bold;
	font-size: 14px;
	color: #000000;
	line-height: 16px;
	width: 218px;
	text-align: center;
	padding: 5px 0 0 0;
	margin: 0 0 0 0;
}
.ts-border {
	width: 216px;
	height: 3px;
	border-bottom: 3px solid #000000;
	margin: -5px 0 5px 0;
	padding: 0 0 5px 0;
}
.ts-category {
	border: 1px solid #000000;
	display: inline-block;
	font-family: RobotoCondensed-Bold;
	font-size: 12px;
	margin: 1px;
	padding: .5px 3px;
}
.story {
	width: 220px;
	line-height: 14	px;
	text-align: left;
	font-family: RobotoCondensed;
}
.ts-header {
	font-family: RobotoCondensed-Bold;
	font-size: 16px;
	line-height: 19px;
}
.ts-subheader {
	font-family: Roboto-Light;
	font-size: 12px;
	
}
.ts-date-byline {
	font-family: RobotoCondensed-LightItalic;
	font-size: 11px;
}
.border-divider {
	width: 210px;
	height: .5px;
	border-bottom: 1px solid #000000;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
}
.features {

}
.fl {

}
